@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-white-color: #FFFFFF;
    --light-color: rgb(242, 242, 242);
    --icon-background-color: rgba(228, 228, 228, 1);
    --grey-font-color: rgba(46, 40, 40, 0.7);
    --lighter-font-color: #444444;
    --main-font-color: #262626;
    --main-red-color: #c73541;
    --light-red-color: #c73541d7;
    --dark-red-color: #941c26;

    --bigger-font-size: calc(1.2 * var(--base-font-size));
    --base-font-size: calc(1.2 * 1rem);
    --small-font-size: calc(.8 * var(--base-font-size));

    --transition-time: .25s ease-in-out;
    --button-transition-time: .15s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: var(--base-font-size);
    font-family: "Inter", sans-serif;
    color: var(--main-font-color);
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 4fr;
    background-color: var(--main-white-color);
    transition: all var(--transition-time);
}

.sidebar {
    background-color: var(--light-color);
    height: 100%;
    width: 0%;
    transition: all var(--transition-time);
}

.sidebar-button {
    display: flex;
    justify-content: end;
    padding: 15px;
    padding-bottom: 0;
    margin-left: 30px;
    
}

#sidebarButton {
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px 8px;
    border-radius: 10px;
    transition: all var(--button-transition-time);
}

#sidebarButton:hover {
    background: var(--icon-background-color);
    transition: all var(--button-transition-time);
}

.sidebar i {
    color: var(--grey-font-color);
    font-size: 1rem;
}

#sidebarContent {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sidebarContent button {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--lighter-font-color);
}

#sidebarContent button:hover{
    background: var(--main-red-color);
    border-radius: 30px;
    color: var(--main-white-color);
    transition: all var(--transition-time), border-radius .15s; 
}

#sidebarContent i, span {
    font-size: var(--base-font-size);
    font-weight: 500;
    color: inherit;
}

#projects-wrapper {
    margin-top: 20px;
}

#projects {
    padding: 15px;
}

#taskButton {
    align-self: center;
}

#taskButton button {
    background: var(--main-red-color);
    border-radius: 30px;
    padding: 10px 12px;
}

#taskButton button:hover {
    background-color: var(--dark-red-color);
}

#taskButton i {
    color: var(--main-white-color);
}

#modalContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#taskModal {
    width: 50%;
    height: auto;
    background: var(--main-white-color);
    border-left: 10px solid var(--main-red-color);
    pointer-events: all;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 7px 20px, rgba(0, 0, 0, 0.2) -8px -7px 20px,  rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

#modalForm {
    padding: 15px;
    border-bottom: 1px solid var(--grey-font-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#fTitle {
    color: var(--main-font-color);
    font-size: var(--bigger-font-size);
}

#fDesc {
    color: var(--grey-font-color);
    font-size: var(--small-font-size);
}

#fTitle, #fDesc {
    padding: 5px;
    border: none;
}

#fTitle:focus, #fDesc:focus {
    outline: none;
}

.fButtons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: end;
}

.fButtons button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: var(--main-white-color);
    border: 1px solid var(--grey-font-color);
    border-radius: 5px;
    padding: 5px;
    font-size: var(--small-font-size);
    cursor: pointer;
}

.fButtons button span {
    font-size: var(--small-font-size);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    padding: 0px 15px;
}

#closeButton {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: var(--light-color);
    font-size: var(--base-font-size);
}

#submitButton {
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: var(--main-red-color);
    font-size: var(--base-font-size);
    color: var(--main-white-color);
    transition: all var(--button-transition-time);
}

#submitButton:hover {
    background: var(--dark-red-color);
    transition: all var(--button-transition-time);
}

.tasks-container {
    background-color: var(--light-color);
    border-left: var(--grey-font-color)  1px solid;
    margin: 5%;
}